.container-full{
    height: 100vh;
    padding: 5px;
    .gallery{
        height: 100vh;
        overflow: hidden;
        padding-top: 56.25%;
        position: relative;

        iframe{
            overflow: hidden;
            border: 0;
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;

            .flip-entry-title{
                display: none;
            }
        }
    }
}