<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1 class="title">A Birthday Gift by</h1>
            </div>

            <div class="col-md-3" *ngFor="let names of contri; index as i" id="contributors{{ i }}">
                <ul class="nav">
                    <li class="nav-item" *ngFor="let name of names">{{ name }}</li>
                </ul>
            </div>


            <div class="col-md-3">
                <h3 class="title">Checkout Mayuri:</h3>
                <div class="btn-wrapper profile">
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                        href="https://www.facebook.com/disgirliscrazy" target="_blank">
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple"
                        href="https://www.instagram.com/chicken_exotica/" target="_blank">
                        <i class="fab fa-instagram"> </i>
                    </a>
                </div>
            </div>
            <div class="col-md-3">
                <h3 class="title">Created by Parth Patil:</h3>
                <div class="btn-wrapper profile">
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1" href="https://github.com/Parth1811"
                        target="_blank">
                        <i class="fab fa-github"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                        href="https://www.facebook.com/parth.patil.77" target="_blank">
                        <i class="fab fa-facebook-square"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple"
                        href="https://www.instagram.com/parthvpatil18/" target="_blank">
                        <i class="fab fa-instagram"> </i>
                    </a>
                    <a class="btn btn-icon btn-neutral btn-round btn-simple"
                        href="https://www.instagram.com/parthvpatil18/" target="_blank">
                        <i class="fa fa-id-card"> </i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>