.superpad{
    padding: 3%;
    padding-top: 10px;
}
.padded{
    padding-top: 10px;
}

.msgcontainer{
    padding-top: 2em;
    width: 100%;

    div{
        span{
            align-self: center;
            &.fright{
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

}