.answer{
    padding: 15px;
    .row{
        padding: 5px;
        .col{
            span{
                &.fill{
                    display: flex;
                    font-size: 1em;
                    align-items: center;
                    font-weight: 600;
                    padding-left: 25px;
                    background: #e3e3e3;
                    color: #525f7f;
                    width: 100%;
                    height: 40px;
                }
                &.correct{
                    background: #a5d6a7;
                }
                &.wrong{
                    background: #ef9a9a;
                }
            }
        }
    }
}

.msgcontainer{
    padding-top: 2em;
    width: 100%;

    div{
        span{
            align-self: center;
            &.fright{
                margin-left: auto;
                margin-right: 0;
            }
        }

        &.flex{
            display: flex;
        }
    }

}