<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" [routerLink]="['']" placement="bottom" tooltip="Created by Parth Patil">
                <span> Mayuri Dhake </span>
            </a>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="page-header">
        <div class="page-header-image"></div>
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-5 col-md-6 offset-lg-0 offset-md-3">
                        <div class="square square-7" id="square7"></div>
                        <div class="square square-8" id="square8"></div>
                        <div class="card card-register">
                            <div class="card-header">
                                <img alt="Card image" class="card-img" src="assets/img/square1-red.png" />

                                <h4 class="card-title">Guess Name</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col"><span>
                                        <audio src="{{ audio_url }}" controls style="width: 100%;"></audio>
                                    </span></div>
                                </div>
                                <div class="answer">
                                    <div class="row">
                                        <div class="col"><span id="answer1" (click)="checkAnswer(1)" class="badge badge-pill badge-info fill">
                                            {{ name1 }}
                                        </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span id="answer2" (click)="checkAnswer(2)" class="badge badge-pill badge-info fill">
                                            {{ name2 }}
                                        </span></div>
                                    </div>
                                    <div class="row">
                                        <div class="col"><span id="answer3" (click)="checkAnswer(3)" class="badge badge-pill badge-info fill">
                                            {{ name3 }}
                                        </span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <a class="btn btn-danger btn-round btn-lg" href="javascript:void(0)">
                                    View all
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="register-bg"></div>
                <div class="square square-1" id="square1"></div>
                <div class="square square-2" id="square2"></div>
                <div class="square square-3" id="square3"></div>
                <div class="square square-4" id="square4"></div>
                <div class="square square-5" id="square5"></div>
                <div class="square square-6" id="square6"></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title">BLK•</h1>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['']"> Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/landing']"> Landing </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/register']"> Register </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/profile']"> Profile </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://creative-tim.com/contact-us?ref=blkdsa-footer">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://creative-tim.com/about-us?ref=blkdsa-footer">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://creative-tim.com/blog?ref=blkdsa-footer">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="https://opensource.org/licenses/MIT">
                                License
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="title">Follow us:</h3>
                    <div class="btn-wrapper profile">
                        <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                            href="https://twitter.com/creativetim" target="_blank">
                            <i class="fab fa-twitter"> </i>
                        </a>
                        <a class="btn btn-icon btn-neutral btn-round btn-simple mr-1"
                            href="https://www.facebook.com/creativetim" target="_blank">
                            <i class="fab fa-facebook-square"> </i>
                        </a>
                        <a class="btn btn-icon btn-neutral btn-round btn-simple" href="https://dribbble.com/creativetim"
                            target="_blank">
                            <i class="fab fa-dribbble"> </i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>